.m-content{
	background-color: #ffec83;
	background-image: url(../images/blog/yunduo.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom left;
}
.m-main{
	/*height:82%;*/
	margin:4.47% 8.75% 0 8.75%;
	/*background-color: white;*/
}
.m-toggle{
	float:right;
	width:22%;
}
.clearfloat{
	clear:both;
}
.m-toggle ul{
	margin:0;
	padding:0;
	height:100%;
}
.m-toggle ul li{
	float:left;
	height:100%;
	margin:0 5%;
	font-size: 1.5rem;
	line-height: 30px;
	color:#ec6941;
	cursor: pointer;
	border-bottom:2px solid #ec6941;
}
.m-toggle ul li:hover{
	color:#0075a9;
	border-bottom:2px solid #0075a9;
}
.m-main-content{
	width:100%;
	margin-top:2%;
	/*background-color: red;*/
}
.m-left{
	float:left;
	width:55%;
	height:100%;
	/*background-color: blue;*/
	/*display:none;*/
}
.m-right{
	float:right;
	width:45%;
	height:100%;
	/*background-color: green;*/
	display: inline-block;
}
.m-blog-title{
	float:left;
	width:5%;
	height:100%;
	font-size: 1.5rem;
	/*font-weight: bold;*/
	display: inline-block;
}
.icon-color{
	color:#0075a9;
}
.m-blog{
	float:left;
	width:86%;
	/*background-color:pink;*/
}
.m-blog-news{
	width:85%;
	margin-left: 5%;
}
.m-blog-box{
	/*height:470px;*/
	overflow: hidden;	
}
.m-blog-content{
	float:right;
	width:94%;
	height:28%;
	margin-bottom:8%;
}
.m-blog-content:last-child{
	margin-bottom:0;
}
.m-blog-info{
	position:relative;
	width:115px;
	height:115px;
	background-image: url(../images/blog/zhaopian.png);
	background-size: cover;
	background-position: 50% 50%;
	border:6px solid #0075a9 ;
	border-radius: 50%;
	display:inline-block;
}
.m-blog-pic{
	width:120px;
}
.m-blog-name{
	position:absolute;
	right:3px;
	bottom:-5px;
	width:14px;
	padding:3px;
	font-size: 14px;
	line-height: 16px;
	color:white;
	background-color: #0073A8;
}
.m-blog-list{
	/*width:66%;*/
	width:calc(100% - 145px);
	margin-left: 10px;
	display:inline-block;
}
.m-blog-list ul{
	margin:0;
	padding:0;
}
.m-blog-list ul li{
	width:100%;
	height:23px;
	color:#535050;
}
.m-blog-list ul li:hover{
	color:#0073A8;
}
.m-blog-summary{
	width:75%;
	font-size: 1rem;
	line-height: 1rem;
	white-space:nowrap; 
	text-overflow:ellipsis;
	display: inline-block;
	overflow:hidden; 
	cursor: pointer;
}
.m-blog-time{
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
}
.m-blog-num{
	text-align: center;
	/*margin-top:0;*/
}
.m-blog-num span{
	width:20px;
	height:20px;
	margin:0 2px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background-color: white;
	border-radius: 50%;
	display:inline-block;
	cursor: pointer;
}
.m-blog-num span:hover{
	background-color: #0073A8;
}
.m-news{
	position: relative;
	width:100%;
	height:100%;
	margin:7px auto 0 auto;
	/*box-shadow: 7px 12px 24px 0 black;*/
}
.m-news-axis{
	position: relative;
	width:100%;
	height:25px;
	background-color: black;
	box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.35)
}
.m-news-cicle{
	position: absolute;
	top:-5px;
	left:50%;
    width: 20px;
    height: 14px;
    margin-left: -10px;
}
.m-news-content{
	width:90%;
	margin: auto;
	padding:3% 0;
	background-color: #0075a9;
	box-shadow: 0px 12px 22px 0px rgba(0,0,0,0.35)	
}
.m-news-content ul{
	margin:0;
	list-style: disc;
}
.m-news-content ul li:hover{
	color:#3BD806;
}
.m-news-title{
	width:90%;
	color:white;
	line-height: 18px;	
}
.m-news-down{
	position: relative;	
}
.m-news-silk{
	position: relative;
	left:50%;
	top:-8px;
	width:50px;
	height:120px;
	margin-left: -25px;
}
.m-news-page{
	margin-top: 10px;
	margin-left: 75%;
	color:white;
	cursor: pointer;
}
.m-news-page span:hover{
	color:#2FDD2A;
}
.m-student{
	float:left;
	width:55%;
	/*height:570px;*/
	/*background-color: blue;*/
	display:none;
}
.m-student-content{
	float:left;
	width:82%;
	height:100%;
	margin:7px 4% 0 4%;
	/*background-color:pink;*/
}
.m-student-box{
	width:100%;
	height:200px;
	float:left;
	/*background-color: red;*/
}
.m-student-axis-left{
	float:left;
	width:26px;
	height:100%;
	background-color: black;
	box-shadow: -2px 0 20px #000;
}
.m-student-axis-right{
	float:right;
	width:26px;
	height:100%;
	background-color: black;
	box-shadow: -2px 0 20px #000;
}
.m-student-list{
	width:calc(100% - 52px);
	height:calc(100% - 60px);
	margin:15px 26px;
	padding: 15px 0 ;
	background-color: #8ccfc4;
}
.m-student-list ul{
	margin: 0;
	padding: 0;
}
.m-student-list ul li{
	margin:0 8% 0 10%;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color:#004986;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow:hidden; 
	cursor: pointer;
}
.m-student-list ul li:hover{
	color:#C84E03;
}
.m-box-dis{
	margin-top: 15%;
}
















