.m-content{
	position:absolute;
	background: url(../images/index/bg.jpg) 100%  100%;
}
.m-cloud{
	position:absolute;
	overflow: hidden;
}
.m-cloud img{
	position:relative;
	width:100%;
	height:100%;
}
.m-cloud-left{
	left:-145px;	
}
.m-cloud-right{
	top:-166px;
	left:200px;
}
.m-logo{
	position:absolute;
	width:275px;
	height:400px;
	top:50%;
	left:50%;
	margin-left: -136px;
	margin-top:-200px;
	color:#fff;
	/*background-color: purple;*/
}
.m-logo-left{
	width:250px;
	text-align: center;
	display: inline-block;
}
.m-logo-text{
	width:36px;
	margin:0 auto;
	font-size: 36px;
}
.m-logo-right{
	font-size: 18px;
	line-height:20px;
	width:18px;
	display: inline-block;
}
.m-clock-study{
	position: absolute;
	top:190px;
	left:-430px;
	width:140px;
	height:140px;
	color:#8f82bc;
	cursor: pointer;
}
.m-clock-idea{
	position: absolute;
	top:0px;
	left:-290px;
	width:130px;
	height:130px;
	color:#13b5b1;
	cursor: pointer;
}
.m-clock-news{
	position: absolute;
	top:210px;
	left:-195px;
	width:170px;
	height:170px;
	color:#8f82bc;
	cursor: pointer;
}
.m-clock-service{
	position: absolute;
	top:30px;
	left:350px;
	width:160px;
	height:160px;
	color:#13b5b1;
	cursor: pointer;
}
.m-clock-qa{
	position: absolute;
	top:210px;
	left:500px;
	width:180px;
	height:180px;
	color:#8f82bc;
	cursor: pointer;
}
.m-nav-text{
	width:18px;
	height: 36px;
	margin:0px auto;
	margin-top: calc(-50% - 20px);
	margin-top: -moz-calc(-50% - 20px);
	margin-top: -webkit-calc(-50% - 20px);
	font-size: 18px;
	line-height: 18px;
}
  /*旋转动画*/
@keyframes rotate{
	0%   {-webkit-transform:rotate(0deg)}
	100% {-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes rotate{
	0%   {-webkit-transform:rotate(0deg)}
	100% {-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
	0%   {-webkit-transform:rotate(0deg)}
	100% {-webkit-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
	0%   {-webkit-transform:rotate(0deg)}
	100% {-webkit-transform:rotate(360deg)}
}
@-o-keyframes rotate{
	0%   {-webkit-transform:rotate(0deg)}
	100% {-webkit-transform:rotate(360deg)}
}
.m-clock-pic{
	animation: rotate 10s linear 0s normal infinite;
	-webkit-animation: rotate 10s linear 0s normal infinite;
}
