/*
@author yu
@time 2015.10.3
@des mly hfut
*/
/*login find password css*/

.login-head span{letter-spacing:4px;margin-left:4px;}
.find-msg{font-size:14px;}
.find-msg img{width:18px;height:10px;margin:0 2px;}
.find-title{color:#f5e0a7;}