.content{
	position: relative;
	background-image:url(../images/newindex/bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
}
.content>ul{
	position: absolute;
	right:0;
	top:50%;
	margin-top:-150px;
}
.content>ul>li{
	width:50px;
	height:50px;
	margin:10px 20px 10px 10px;
	font-size: 3.125rem;
	cursor: pointer;
}
.n-content{
	width:67.98%;
	/*height:100%;*/
	margin:0 auto;
	margin-top:8%;
	/*background-color: red;*/
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.clearfloat:after{
    visibility: hidden;
    display: block;
    clear: both;
    content: "";
    height: 0;
}
.n-box-left{
	width:37.13%;
	margin-left: 5%;
	/*height:400px;*/
	/*background-color: blue;*/
}
.n-box-right{
	width: 26.27%;
	margin-left: 15%;
	vertical-align: bottom;
}
.n-logo{
	width:100%;
}
.n-text{
	width:100%;
	margin-top: 50%;
}
.n-box-text{
	/*width:50%;*/
	/*margin:30% auto 0 auto;*/
}
.n-box-title{
	font-size: 40px;
	font-family: 'Microsoft Yahei';
}
.n-box-text p{
	margin:0;
	color:#002549;
	font-size: 1.25rem;
	line-height: 2.2rem;
}
.n-box-line{
	width:50px;
	height:4px;
	margin: 10px 0;
	border-radius: 30%;
	background-color: #E4DAAD;
}
.n-box-nav img{
	width:100px;
}
.n-box-nav ul{
	padding:0;
	clear:both;
}
.n-box-nav ul li{
	float:left;
	width:10%;
	/*height:100px;*/
	margin-top: 8%;
	margin-right:11.32%;
	cursor: pointer;
}
.n-box-nav ul li:last-child{
	margin-right: 0;
}











