.right-main {
    height: 76%;
    position: relative;
    top: 14%;
    left: 50%;
    width: 100%;
}

.paint-light {
    position: relative;
    left: 50%;
    top: -20%;
    z-index: 100;
}

.paint-light div {
    position: absolute;
    display: none;
}

.paint-light img {
    /*width: 24.68%;*/
    width: 100%;
}

.paint-light-1 {
    width: 18%;
    left: -2%;
}

.paint-light-2 {
    width: 18%;
    left: 17%;
}

.paint-light-3 {
    width: 18%;
    left: 34%;
}

.paint-light-4 {
    width: 20%;
    left: 50%;
}

.instruction-title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.tb-lr {
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

/*.ins-1 {*/
    /*position: absolute;*/
    /*left: -80px;*/
    /*top: -8px;*/
/*}*/

.ins-li{
    float:right;
    display:inline;
    word-wrap:break-word;
    width:25px;
}
.ins-li div{
    transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    margin-left: -2px;
}
.ins-2 {
    position: absolute;
    top: 70%;
    left: -100px;

}
.ins-1 {
    position: absolute;
    top: 0;
    left: -100px;
}

.img-all {
    float: left;
    display: block;
    width: 100%;
}

.img-all a {
    display: none;
}

.img-1 {
    width: 22.3%;
}

.img-2 {
    width: 22.3%;
}

.img-3 {
    width: 17.1%;
}

.img-4 {
    width: 22.3%;
}

.img-universal {
    padding: 12%;
    float: right;
    cursor: pointer;
    background-color: #fff;
    border: 15px solid #362e2b;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
}

.img-content {
    overflow: hidden;
    float: right;
    background-color: #eae4d4;
    font-size: 14px;
    color: #362e2b;
}

.img-hover {
    /*overflow: auto;*/
}

.img-content p {
    margin: 0;
    padding: 13px;
}

.img-1 img {
    width: 63%;
    height: auto;
}

.img-2 img {
    height: auto;
    width: 63%;
}

.img-2 {
    margin-left: 5.35%;
}

.img-3 img {
    height: auto;
    width: 57%;
}

.img-3 {
    margin-left: 5.35%;
}

.img-4 img {
    width: 56.52%;
    height: auto;
}

.img-4 {
    margin-left: 5.3%;
}

.tag-all {
    background-color: #fff;
    padding: 9px;
    margin: 0;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
}

.tag-all:first-child p {
}

.tag-all p {
    padding: 0;
    margin: 0;
    font-size: 12px !important;
    color: #405b87;
    cursor: pointer;
}

.tag-1 {
    position: relative;
}

.tag-2 {

}

.tag-3 {
    position: relative;
}

.tag-4 {

}

.sprite-main {
    width: 102%;
    position: absolute;
    top: 87%;
}

.sprite-ul1 {
    position: absolute;
    left: 49%;
    padding-left: 0 !important;
    height: 150px;
    top: -101px;
}

.sprite-ul1 img {
    position: absolute;
    display: none;
}

.sprite-main .sprite-ul1 li {
    float: left;
    /*margin: 0 25px;*/
    position: relative;
    text-align: center;
}

.sprite-main li a p {
    font-size: 14px;
    color: #a6937c;
}

.sprite-main p:nth-child(2) {
    margin-top: -12px;
}

.sprite-icon {
    overflow: hidden;
    height: 75px;
    background: url(../images/service/icon-fuben.png) no-repeat;
}

.sprite-ul2 {
    list-style: none;
    position: absolute;
    top: -82px;
    left: 50%;
    display: none;
}

.sprite-ul2 li {
    float: left;
    position: relative;
}

.icon-1 {
    width: 97px;
}

.icon-2 {
    width: 69px;
    background-position: -125px 0px;
}

.icon-3 {
    width: 52px;
    margin-left: 9px;
    background-position: -223px 0px;
}

.icon-4 {
    width: 73px;
    background-position: -303px 0px;
}

.icon-5 {
    width: 68px;
    background-position: -405px 0px;
}

.icon-6 {
    width: 70px;
    background-position: -502px 0px;
}

.icon-7 {
    width: 66px;
    background-position: -600px 0px;
}

.icon-8 {
    width: 62px;
    background-position: -693px 0px;
}

.book-shelf {
    height: 22.5px;
    /*width: 100%;*/
    background-color: #362e2b;
}

.book-shelf img {
    position: relative;
    top: 22px;
    left: -17px;
}

/*.book-shelf span{*/
/*font-size: 14px;*/
/*color: #a6937c;*/
/*}*/
/*.book-shelf span:hover{*/
/*color: #fff;*/
/*cursor: pointer;*/
/*}*/
.book-shelf-hover {
    color: #fff !important;
    cursor: pointer !important;
}

/*.sprite-main img{*/
/*position: relative;*/
/*display: block;*/
/*top: -100px;*/
/*left: -30px;*/
/*}*/
.light-1 {
    /*left: 9px;*/
}

.light-2 {
    /*left: 136px;*/
}

.light-3 {
    /*left: 247px;*/
}

.light-4 {
    /*left: 366px;*/
}

.light-5 {
    /*left: 477px;*/
}

.light-6 {
    /*left: 596px;*/
}

.light-7 {
    /*left: 711px;*/
}

.light-8 {
    /*left: 830px;*/
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}