/**
*@author yu
*@time 2015.10.5
*@desc css for sites ,special page
*/
html,body{overflow:hidden;}
.content{overflow-y:scroll;overflow-x:hidden;}

.main{margin:0 10%;width:80%;height:100%;font-size: 1.5em;}
.shadow{box-shadow:0px 9px 22px 0px rgba(0,0,0,0.3);}
.content{background-color:#5f236e;}
.main-top{margin-top:40px;}
.line-top{margin-top:1px;}
.sites-head{width:18.4%;height:100%;float:left;color:#D6AF7C;    overflow: hidden;}
.sites-group{width:27.2%;height:100%;float:left;}

.sites-title{text-align:center;height:100%;width:26px;float:left;}
.sites-title img{width:100%;height:20px;}
.sites-title span{word-wrap:break-word;word-break:normal;line-height:1.25em;display:inline-block;}
.icon-down-space{margin-top:0.3em}
.sites-desc{text-align:center;height:100%;width:80px;float:left;margin-top:66%;margin-left:18%;}
.sites-desc span{word-wrap:break-word;word-break:normal;line-height:1.125em;display:inline-block;width:20px;font-size:0.75em;}
/*one site*/
.site-one{width:86%;float:right;max-width:305px;_width:250px;}

.site-black{width:100%;height:25px;float:left;position:relative;background-color:#000;z-index:2;}
.site-black img{position: absolute;left:50%;top:-7px;width:20px;height:14px;margin-left:-10px;}
.site-body{width:90%;margin:0 5%;height:200px;float:left;background-color:#fff;position:relative;z-index:1;}
.site-title{width:100%;height:34px;float:left;font-size:0.75em;color:#000;line-height:32px;letter-spacing:1.2px;padding-left:10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}
.site-img{width:100%;height:135px;float:left;}
.site-description{width:100%;height:130px;background-color: #e9e9e9;;position: absolute;top: 30px;opacity: 0;font-size:0.67em;animation-fill-mode: forwards;
    width: 90%;
    padding: 10px 5% 0;
}
.site-flip{width:100%;height:135px;float:left;}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes flipInY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}





.site-link{height:23px;float:right;line-height:1em;margin-right:10px;}
.site-link img{width:16px;height:12px;float:left;display:inline-block;margin-top:6px;margin-right: 2px;}
.site-link span{font-size:0.6em;text-align:center;color:#DBB37D;display:inline-block;letter-spacing:1.2px;}
.get-site-more{float:right;}
.site-more-link{float:left;width:90%;margin:0 5%;background-color:#fff;font-size:12px;height:22px;line-height:22px;cursor:pointer;}
.site-more-link span{display: inline-block;float:right;margin-right:10px;letter-spacing:1.2px;}
.fix-silk{position:relative;height: 140px;z-index: 3;}
.fix-silk img{position:absolute;left:50%;top:243px;width:48px;height:129px;margin-left:-18px;cursor:pointer;}

.site-more{display:none;float:left;width:100%;}

@media screen and (min-width:1400px) and (max-width:1500px){
	.main-top{margin-top:45px;}
    .sites-group{
        -webkit-transform:scale(1, 1);
            -ms-transform:scale(1, 1);
                transform:scale(1, 1);
    }
}
@media screen and (min-width:1501px) and (max-width:1600px){
	.main-top{margin-top:55px;}
    .sites-group{
        -webkit-transform:scale(1, 1);
            -ms-transform:scale(1, 1);
                transform:scale(1, 1);
        margin-top: 9px;
        height:82%;
    }
}
@media screen and (min-width:1601px){
	.main-top{margin-top:70px ;}
    .sites-group{
        -webkit-transform:scale(1, 1);
            -ms-transform:scale(1, 1);
                transform:scale(1, 1);
        margin-top: 11px;
        height:78%;
    }
}
