@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?oh8coo');
	src:url('fonts/icomoon.eot?oh8coo#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?oh8coo') format('truetype'),
		url('fonts/icomoon.woff?oh8coo') format('woff'),
		url('fonts/icomoon.svg?oh8coo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-redstar:before {
	content: "\e900";
}
.icon-mingliyuan:before {
	content: "\e901";
}
.icon-music:before {
	content: "\e814";
}
.icon-wave-bg:before {
	content: "\e813";
}
.icon-wave-front:before {
	content: "\e81e";
}
.icon-icon-arrow:before {
	content: "\e838";
}
.icon-usb:before {
	content: "\e815";
}
.icon-book:before {
	content: "\e816";
}
.icon-brush:before {
	content: "\e817";
}
.icon-icon-enter-left:before {
	content: "\e80c";
}
.icon-icon-nav:before {
	content: "\e837";
}
.icon-icon-user:before {
	content: "\e839";
}
.icon-icon-logo:before {
	content: "\e836";
}
.icon-bg-biao:before {
	content: "\e800";
}
.icon-bg-hong:before {
	content: "\e801";
}
.icon-bg-qing:before {
	content: "\e802";
}
.icon-bg-siren:before {
	content: "\e803";
}
.icon-bg-xian:before {
	content: "\e804";
}
.icon-bg-yi:before {
	content: "\e805";
}
.icon-bg-ying:before {
	content: "\e806";
}
.icon-flower-fuwu:before {
	content: "\e807";
}
.icon-flower-guandian:before {
	content: "\e808";
}
.icon-flower-hudong:before {
	content: "\e809";
}
.icon-flower-xuexi:before {
	content: "\e80a";
}
.icon-flower-zixun:before {
	content: "\e80b";
}
.icon-icon-enter-right:before {
	content: "\e80d";
}
.icon-icon-title-down:before {
	content: "\e80e";
}
.icon-icon-title-left:before {
	content: "\e80f";
}
.icon-icon-title-right:before {
	content: "\e810";
}
.icon-icon-title-up:before {
	content: "\e811";
}
.icon-logo:before {
	content: "\e812";
}

